purposecollor-local/PurposeColor/PurposeColor/PurposeColor.Droid/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.Droid/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.WinPhone/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.WinPhone/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.iOS/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.iOS/obj
purposecollor-local/PurposeColor/PurposeColor.userprefs
purposecollor-local/PurposeColor/PurposeColor.v12.suo
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.Droid/Resources/Resource.Designer.cs
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.CustomBgAudioPlayer/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.CustomBgAudioPlayer/bin
purposecollor-local/PurposeColor/.DS_Store
purposecollor-local/PurposeColor/packages
purposecollor-local/.DS_Store
*.xml

