purposecollor-local/PurposeColor/PurposeColor/PurposeColor.Droid/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.Droid/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.WinPhone/obj
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.WinPhone/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.iOS/bin
purposecollor-local/PurposeColor/PurposeColor/PurposeColor.iOS/obj
